<!--
  Generated template for the GenreSinglePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon id='menu-icon' name='menu'></ion-icon>
    </button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="centered-content card-background-page">
  <ion-grid *ngIf="!games.length" class="centered-content">
    <ion-row justify-content-center align-items-center>
      <ion-spinner class="spinner-size" name="bubbles"></ion-spinner>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="games.length > 0">
    <ion-card *ngFor="let game of games">

      <div *ngIf="game.screenshots; then gamescreen else noscreen"></div>

      <ng-template #gamescreen>
        <div class="game-image">
          <img src="https://images.igdb.com/igdb/image/upload/t_screenshot_med_2x/{{ game.screenshots[0].cloudinary_id }}.jpg" class="tinted"
          />
        </div>
      </ng-template>

      <ng-template #noscreen>
        <div class="game-image">
          <img src="assets/img/blank.png" />
        </div>
      </ng-template>

      <div class="card-title" (click)="detailsPage(game)" >{{ game.name }}</div>
    </ion-card>
  </ion-grid>
</ion-content>